body,
html {
    padding: 0rem;
    margin: 0rem;
    color: black;
    width: 100%;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.night {
    background-color: black;
    color: white
}

.buy {
    margin: auto;
    width: fit-content;
    padding: 2rem 0rem;

}

.cashback_cont i {
    font-size: 30px;
    border: 2px solid rgba(40, 124, 241, 0.848);
    padding: 8px;

    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background-color: skyblue;

}

.fa {
    font-size: 40px;
}

.fa-sun-o {
    font-size: 40px;
    color: white;

}

.cashback_cont .fa-moon-o {
    color: "black";
}

.fa-moon-o:hover {
    color: grey;
}

.fa-sun-o:hover {
    color: yellow;
    border-color: yellow;
}

.cashback_cont i:hover {
    border: 2px solid grey;
    background-color: black;
}

.buy span {
    text-decoration: none;
    padding: 0rem 1rem;
    font-weight: 400;
    font-size: 1.7rem;
    color: #2997ff;
}


/* ------------  navbar ---------------*/

.nav-cont {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(19, 17, 17, 0.955);
    z-index: 3;


}

.night .nav-cont {
    background: rgb(53, 51, 51);
}

.nav-cont ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1047px;
    padding: 0rem;
    margin: 0rem auto;
    list-style-type: none;
}

.nav-cont ul li {
    padding: 10px;
}
.nav-cont ul li:hover{
    cursor: pointer;
}
section:hover{
    cursor: pointer;
}

#Phone-nav-bar {
    display: none;
    color: white;
}

.logo {
    background-image: url("./images/nav_bar/globalnav_apple_image__b5er5ngrzxqq_large.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: fit-content;

}

.store {
    background-image: url("./images/nav_bar/globalnav_links_store_image__c7jy08initqq_large.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: fit-content;
}

.mac {
    background-image: url("./images/nav_bar/globalnav_links_mac_image__dazlko3t9a6a_large.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: fit-content;


}

.iPad {
    background-image: url("./images/nav_bar/globalnav_links_ipad_image__fw9qyj9lloi2_large.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: fit-content;
}

.iPhone {
    background-image: url("./images/nav_bar/globalnav_links_iphone_image__ko7x4isga4ia_large.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: fit-content;
}

.iwatch {
    background-image: url("./images/nav_bar/globalnav_links_watch_image__gkoblojrlsqe_large.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: fit-content;
}

.airpods {
    background-image: url("./images/nav_bar/globalnav_links_airpods_image__f969s84ivmaa_large.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: fit-content;
}

.tv {
    background-image: url("./images/nav_bar/globalnav_links_tvhome_image__zb2ewyxbi6ae_large.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: fit-content;

}

.only {
    background-image: url("./images/nav_bar/globalnav_links_onlyonapple_image__c4t8k97tougm_large.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: fit-content;
}

.accessories {
    background-image: url("./images/nav_bar/globalnav_links_accessories_image__edj0wqmfwxyu_large.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: fit-content;

}

.support {
    background-image: url("./images/nav_bar/globalnav_links_support_image__bw9kctll7u3m_large.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: fit-content;
}

.search {
    background-image: url("./images/nav_bar/globalnav_search_image__cbllq1gkias2_large.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: fit-content;
}

.bag1,
.bag2 {
    background-image: url("./images/nav_bar/globalnav_bag_image__yzte50i47ciu_large.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: fit-content;
}

.nav-cont ul li:nth-child(3) {
    display: none;
}

/* ------------  cashback section ------------ */

.cashback {
    width: 100%;
    background-color: rgba(255, 250, 240, 0.841);
    color: black;
    padding: 3rem 0rem 1rem 0rem;
}

.night .cashback {
    background-color: rgba(66, 63, 63, 0.594);
    color: white;

}

.cashback_cont {
    max-width: 940px;
    margin: auto;
}

.cashback_cont p {
    margin: 0rem;
    text-align: center;
    font-weight: 300;
    padding: 0% 11%;
    font-size: 1.05rem;
    margin: 0rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

/* ------------- couponn pop up --------------*/

.night .coupon {
    background: linear-gradient(rgba(255, 255, 255, 0.279), rgba(0, 0, 0, 0.645))
}

.night .coupon-frame {
    background-color: black;
}

.coupon {
    position: fixed;
    display: flex;
    justify-content: center;
    top: -100vw;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.645);
    z-index: 40;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    overflow: scroll;

}

.coupon-frame {
    display: flex;
    background-color: aqua;
    flex-direction: column;
    margin: 10vh auto;
    padding: 1vh 1vw;
    flex: 0 0 60%;
    position: relative;

}

.coupon-frame .fa-sun-o {
    color: yellow;
}

.coupon-frame .fa-moon-o {
    color: grey;
}

.coupon-frame img {
    width: 100%;
    height: 85%;
}

.coupon-frame p {
    font-weight: 600;
    color: black;
}

.night .coupon-frame p {
    font-weight: 600;
    color: white;
}

#cls {
    position: absolute;
    right: -13px;
    top: -16px;
    background-color: rgb(213, 5, 5);
    padding: 10px;
    border-radius: 50%;

}

#cls:hover {
    background-color: red;
}

.fa-remove:hover {
    color: white;
}

.fa-remove {
    color: black;
}

/* ------------  macbook pro section ------------ */
.mac_pro_book {
    width: 100%;
    background-image: url("./images/hero_mbp13__f88jcbca0ve6_largetall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    height: 43rem;
}

.night .mac_pro_book {
    width: 100%;
    background: linear-gradient(rgba(194, 185, 203, 0.374), rgba(77, 58, 76, 0.14)), url("./images/hero_mbp13__f88jcbca0ve6_largetall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    height: 43rem;
}

.mac_pro_title h1 {
    font-size: 4rem;
    font-weight: 500;
    padding-top: 3rem;
    width: fit-content;
    margin: auto;

}

.mac_pro_charge {
    width: fit-content;
    background-image: url("./images/logo_hero_mbp13__gdqp6kikbxe2_largetall.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 5rem;
    width: 27rem;
    margin: auto;
    background-size: 26rem;
}

.night .mac_pro_charge {
    background: url("./images/logo_hero_macbookair__edl9uovq56wm_largetall.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 5rem;
    width: 27rem;
    margin: auto;
    background-size: 26rem;
    border-radius: 10px;
}

/* ------------   macbook air section ------------ */

.mac_air {
    width: 100%;
    background-color: white;
    height: 45rem;
    color: black;
    background-size: cover;
    background-image: url("./images/hero_macbookair__el7scava26mq_largetall.png");
    background-position: center;
    background-repeat: no-repeat;
}

.night .mac_air {
    width: 100%;
    height: 45rem;
    color: black;
    background-size: cover;
    background: linear-gradient(rgba(64, 62, 62, 0.371), rgba(45, 44, 44, 0.45)), url("./images/hero_macbookair__el7scava26mq_largetall.png");
    background-position: center;
    background-repeat: no-repeat;
}

.mac_air_cont1 {
    width: 50%;
    padding: 5% 0% 0% 0%;

}

.mac_air_title {
    width: fit-content;
    margin: 0rem auto;
}

.mac_air_title h1 {
    font-size: 4rem;
    font-weight: 500;
    padding-top: 7rem;
    width: fit-content;
    margin: auto;
}

.mac_air_charge {
    background-image: url("./images/logo_hero_macbookair__edl9uovq56wm_largetall.png");
    width: 18rem;
    height: 4rem;
    margin: 0rem auto;
    background-repeat: no-repeat;
    background-position: center;
}

.mac_available {
    color: silver;
    font-size: 2rem;
    font-weight: 100;
    margin: 0rem auto;
    width: fit-content;
}

.night .mac_available {
    color: white
}

.mac_available p {
    margin: 0.5rem auto;
}

/* ------------   get airpods ------------ */

.get_airpods {
    width: 100%;
    height: 50rem;
    background-image: url("./images/hero_bts__bcuslanw39xe_largetall.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
    position: relative;
    overflow: hidden;
}

.night .get_airpods {
    background: linear-gradient(rgba(183, 108, 108, 0.371), rgba(23, 23, 23, 0.45)), url("./images/hero_bts__bcuslanw39xe_largetall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.get_title,
.get_save,
.get_shop {
    width: fit-content;
    margin: 0rem auto;
    padding: 1rem 0rem 0rem 0rem;
    position: relative;
}

.get_title h1 {
    font-size: 4rem;
    font-weight: 600;
    padding-top: 3rem;
    width: fit-content;
    margin: 0rem auto;
}

.get_save p {
    width: fit-content;
    margin: 0rem auto;
    font-size: 1.7rem;

}

/* ------------  iphone_watch ------------ */

.iphone_watch {
    width: 100%;
    background-color: white;
    color: black;
}

.iphone {
    width: 50%;
    background-image: url("./images/promo_iphone13pro_avail__beadms4ldidu_large.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    float: left;
}

.night .iphone {
    background: linear-gradient(rgba(151, 181, 151, 0.371), rgba(45, 44, 44, 0.893)), url("./images/promo_iphone13pro_avail__beadms4ldidu_large.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    float: left;

}

.iphone_title h1 {
    font-size: 3rem;
    font-weight: 500;
    width: fit-content;
    margin: 2rem auto 0.2rem auto;
    letter-spacing: -2px;
}

.pro {
    width: fit-content;
    margin: 0rem auto;
    padding: 0.3rem 0rem 0rem 0rem;
}

.pro p {
    margin: 0rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.iphone .buy {
    padding: 0.5rem 0rem;

}

.iphone .buy span {
    font-size: 1.3rem;
}

.watch {
    width: 50%;
    background-image: url("./images/promo_watch_lte__djeaso7ukrsm_large.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    float: left;
}

.night .watch {
    background: linear-gradient(rgba(95, 119, 144, 0.371), rgba(23, 23, 23, 0.45)), url("./images/promo_watch_lte__djeaso7ukrsm_large.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    float: left;
}

.watch_title {
    background-image: url("./images/promo_logo_watch_lte__emrof7zzkriq_large.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 11rem;
    height: 5rem;
    background-size: 11rem;
    margin: 2rem auto 0rem auto;
}

.display {
    width: fit-content;
    margin: auto;
}

.display p {
    margin: 0rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.watch .buy {
    padding: 0.5rem 0rem;
}

.watch .buy span {
    font-size: 1.3rem;
}

/* ------------   air and studio section  ------------ */

.ipad_mac {
    width: 100%;
    height: 41.5rem;
    clear: both;


}

.ipad_cont1 {
    width: 47.5%;
    float: left;
    height: 40rem;
    background-image: url("./images/promo_ipadair_avail__ferd4bfpcdm6_large.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    color: white;

}

.light {
    margin: auto;
    width: fit-content;
}

.light p {
    margin: 0.5rem auto;
}

.ipad_title {
    background-image: url("./images/promo_logo_ipadair__frwnnsqveeye_large.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10rem;
    width: 11rem;
    height: 3rem;
    margin: 4rem auto 0rem auto;
}

.studio_cont2 {
    width: 47.5%;
    float: left;
    background-image: url("https://i.imgur.com/wLRyum7.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 55%;
    height: 40rem;
    margin: 1rem 1rem 0.5rem 1rem;
    color: black;

}

.ipad_mac .buy {
    padding: 0.5rem 0rem;
}

.ipad_mac .buy span {
    font-size: 1.3rem;
}

.studio_title {
    width: fit-content;
    margin: 4rem auto 0rem auto;

}

.empower {
    width: fit-content;
    margin: auto
}

.empower p {
    margin: 0.5rem auto;
}

.studio_title h1 {


    font-size: 3rem;
    font-weight: 500;
    width: fit-content;
    margin: 2rem auto 0.2rem auto;
    letter-spacing: -2px;

}

/* ------------   arcade and tv section  ------------ */

.arc_tv {
    width: 100%;
    height: 41rem;
    clear: both;


}

.arc_cont1 {
    width: 47.5%;
    float: left;
    height: 40rem;
    background-image: url("./images/tile_arcade_cooking_mama__dasht2wtew02_large.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: white;

}

.cook {
    margin: auto;
    width: fit-content;
}

.cook p {
    margin: 0.5rem auto;
    color: black;
}

.arc_title {
    background-image: url("./images/logo__dcojfwkzna2q_large.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10rem;
    width: 11rem;
    height: 3rem;
    margin: 4rem auto 0rem auto;
}

.tv_cont2 {
    width: 47.5%;
    float: left;
    background-image: url("./images/promo_physical__fyh9juzk5umy_large.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
    color: white;

}

.arc_tv .buy {
    padding: 0.5rem 0rem;
}

.arc_tv .buy span {
    font-size: 1.3rem;
}

.tv_title {
    width: 32rem;
    height: 3rem;
    background-image: url("./images/logo_light__cfvl40z2nzau_large.png");
    margin: 4rem auto 0rem auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6rem;

}

.rose {
    width: 23rem;
    background-size: 22rem;
    height: 8rem;
    background-image: url("./images/promo_physical_tagline__f8s8ke316uuu_large.png");
    margin: 20rem auto 0rem auto;
    background-position: center;
    background-repeat: no-repeat;
}


/* ------------   footer  ------------ */

.night footer {
    background-color: black;
    color: white;
}

footer {
    width: 100%;
    color: black;
    background-color: #f5f5f7;
    overflow: hidden;
    color: rgb(110, 110, 115);
    clear: both;
}


.foot_cont1 {
    margin: 0rem auto;
    max-width: 1047px;
    font-size: 0.8rem;
}

.foot_cont2 {
    margin: 1rem auto;
}

.foot_cont2 p {
    margin: 0rem auto;
}

.foot_cont3 {
    width: 100%;
    overflow: hidden;
}

.foot_list1,
.foot_list2,
.foot_list3,
.foot_list4,
.foot_list5 {
    width: 20%;
    float: left;
}

.foot_list1 ul,
.foot_list2 ul,
.foot_list3 ul,
.foot_list4 ul,
.foot_list5 ul {
    list-style-type: none;
    font-size: 1rem;
    font-weight: 200;
    padding-left: 0rem;
    color: black;


}

.night .foot_list1 ul,
.night .foot_list2 ul,
.night .foot_list3 ul,
.night .foot_list4 ul,
.night .foot_list5 ul {
    list-style-type: none;
    font-size: 1rem;
    font-weight: 200;
    padding-left: 0rem;
    color: white;


}

.foot_list1 ul li,
.foot_list2 ul li,
.foot_list3 ul li,
.foot_list4 ul li,
.foot_list5 ul li {
    width: 100%;
    padding: 0.3rem 0rem;
}

.hde {
    visibility: hidden;
    color: red;
}

.dis {
    display: none;
}

/* -----------  weather ----------*/

.fa-cloud {
    color: aqua;
}

/* ------------   phone and tab ------------ */

@media screen and (max-width: 1050px) {

    .iphone,
    .watch,
    .ipad_cont1,
    .studio_cont2,
    .arc_cont1,
    .tv_cont2,
    footer {
        width: 98%;
        margin: 1%;
    }

    .nav-cont ul {
        display: flex;
        margin: 0rem;
        justify-content: flex-start;
    }

    #Phone-nav-bar {
        display: block;
    }

    .nav-cont ul li:nth-child(3) {
        display: block;
    }

    .nav-cont ul li:not(:nth-child(-n+3)) {
        display: none;
    }

    .nav-cont.responsive {
        background-color: rgb(18, 17, 17);
        position: fixed;
        z-index: 12;
        overflow: scroll;
        display: block;
        width: 100vw;
        height: 100vh;
    }

    .nav-cont.responsive ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .nav-cont.responsive ul li:not(:nth-child(-n+3)) {
        display: block;
        flex: 0 0 85%;
        margin: auto;
        padding: 1rem 0rem;
        border-bottom: 1px solid white;
    }

    .nav-cont ul li:nth-child(-n+3) {
        flex: 1 0 26%;
        text-align: center;
    }

    .nav-cont ul li:nth-child(3) {
        text-align: right;
    }

    .nav-cont ul li:nth-child(1) {
        text-align: left;
    }

    .nav-cont.responsive ul li:nth-last-child(-n+2) {
        display: none;
    }

    .nav-cont.responsive ul li:not(:nth-child(-n+3)):hover {
        background-color: rgba(211, 211, 211, 0.081);
    }

    .get_title h1 {
        width: fit-content;
        font-size: 2rem;
    }

    .night .get_title h1 {
        width: fit-content;
        font-size: 2rem;
    }

    .get_airpods .get_save p {
        font-size: 1rem;
    }

    .buy span {
        font-size: 1.2rem;
    }

    .mac_air_cont1 {
        width: 100%;
        padding: 0.5rem auto;
    }

    .night .mac_air_cont1 {
        width: 100%;
        padding: 0.5rem auto;
    }

    .mac_air {
        background-image: url("./images/hero_macbookair__el7scava26mq_medium_2x.png");
    }

    .night .mac_air {
        background: linear-gradient(rgba(64, 62, 62, 0.371), rgba(45, 44, 44, 0.45)), url("./images/hero_macbookair__el7scava26mq_medium_2x.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .mac_air_title h1 {
        padding: 0rem;
    }

    .buy {
        padding: 0.5rem;
    }

    .mac_pro_book {
        background-image: url("./images/hero_mbp13__f88jcbca0ve6_small_2x.jpg");
    }

    .night .mac_pro_book {
        background-image: url("./images/hero_mbp13__f88jcbca0ve6_small_2x.jpg");
    }



}

@media screen and (max-width:800px) {
    .cashback_cont p {
        display: none;
    }
}

@media screen and (max-width:530px) {

    .mac_pro_charge,
    .mac_air_charge {
        background-size: 70%;
        width: 70%;
        height: 2.5rem;
    }

    .night .mac_pro_charge,
    .night .mac_air_charge {
        background-size: 70%;
        width: 70%;
        height: 2.5rem;
    }

    .rose {
        background-size: 70%;
        width: 70%;
        height: 7.5rem;
    }

    .tv_title {
        width: 80%;
        margin: auto;
    }

    .mac_air_title h1,
    .mac_pro_title h1,
    .get_title h1 {
        font-size: 1.5rem;
    }

    .night .mac_air_title h1,
    .night .mac_pro_title h1,
    .night .get_title h1 {
        font-size: 1.5rem;
    }

    .mac_air,
    .mac_pro_book,
    .get_airpods {
        height: 39rem;
    }

    .night .mac_air,
    .night .mac_pro_book,
    .night .get_airpods {
        height: 39rem;
    }

}


/* ------------- Listing -------------- */


#filters {
    background-color: white;
    position: sticky;
    top: 39px;
    z-index: 3;
    border-bottom: 1px solid lightgrey;
}

.find_options img {
    display: block;
    width: 2rem;
    padding: 1rem;

}

.find_options_img {
    border-radius: 50%;
    overflow: hidden;
    width: 4rem;
    height: 4rem;
    float: left;
    background: rgb(252, 238, 192);
}

.find_options span span {
    display: block;
    padding: 1.2rem;
    width: fit-content;
    float: left;
    font-size: 1.5rem;
    font-weight: 500;
}

#nightlife,
#dining {
    background-color: rgba(132, 129, 129, 0.101);
}

#find_head_cont3_1,
#find_head_cont3_2,
#find_head_cont3_3 {
    display: inline-block;
    height: 100%;
    margin: 0rem 0.9rem 0rem 0rem;
}

#find_head_cont3_1 {
    border-bottom: 2px solid red;
}

/* filter */
#find_head_cont4 {
    padding: 1rem 0rem;
    overflow: hidden;
    position: sticky;
    top: 0px;
    max-width: 1024px;
    width: 90%;
    margin: auto;
}

.night #filters {
    background-color: black;

}

.fiter_buttons {
    width: fit-content;
    float: left;
    cursor: pointer;
    margin-right: 1rem;
    height: 2rem;
    border-radius: 6px;
    border: 1px solid rgba(142, 139, 139, 0.684);
    color: black;
}

.night .fiter_buttons {
    color: white;
    background-color: black;
    border-color: lightgrey;
}

.fiter_buttons span {
    padding: 6px 11px;
    display: block;
}

.fiter_buttons span i {
    margin-right: 6px;
}

/* find_inspiration" */

#find_inspiration {
    background-color: rgba(243, 243, 243, 0.653);
}

#inspi_cont1 {
    max-width: 1024px;
    width: 90%;
    margin: auto;
}

#inspi_head>h1 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0rem;
    padding-top: 16px;
}



/* ------ food_items_display ------ */


#food_loading_area {
    color: black;
    width: 100%;

}

.food_loading_area_2 {
    width: 90%;
    max-width: 1024px;
    overflow: hidden;
    margin: auto;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

.food_item_card {
    flex: 0 0 32%;
    background-color: white;
    overflow: hidden;
    transition: 0.5s all;
    margin: 1rem 0rem;
    border-radius: 10px;
    transition: 0.3s all;
}

.night .food_item_card {
    background-color: black;
    color: white;
}

.food_item_info,
.food_stats {
    padding: 10px;
}

.food_img {
    margin: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-position: center;
    height: 14rem;
    border-radius: 10px;
    align-items: center;
}

.food_img img {

    height: 12rem;
    display: block;
    transition: 0.5s all;
    border-radius: 10px;
}

.food_item_card:hover img {
    transform: scale(1.1);
}

.food_name,
.food_cousine {
    overflow: hidden;
    display: flex;
    justify-content: left;
    flex: 70% 30%;


}

.food_name p {
    font-size: 18px;
    text-transform: capitalize;
}

.food_name p,
.food_cousine p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0px;

}

.food_price p {
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.food_rating,
.food_price {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;

}

.food_item_info_cont2,
.food_item_info_cont1 {

    width: 100%;
    display: flex;
    justify-content: space-between;


}

.food_item_info_cont2 {
    margin-top: 10px;
}

.food_rating p {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 3px 8px;
    font-size: small;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
}

.food_price p,
.food_cousine p {
    color: rgb(141, 138, 138);
    font-weight: 200;
    font-size: 14px;
}

.food_stats p {
    margin: 6px 0px;
    clear: both;
    font-size: 11px;

}

.food_stats {
    margin: 6px, 0px;
    display: flex;
    justify-content: space-between;
}

.food_stats>img {
    width: 50px;
    height: 20px;
    margin: 6px 0px;
}

.food_item_card:hover {
    box-shadow: 0px 0px 10px 6px #88888870;
    cursor: pointer;
}


/* ------- show filterrs ----- */

.show_filters {
    position: fixed;
    display: none;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.742);
}

.show_filters.sho {
    display: flex;
    align-items: center;
    color: black;
}

.show_filters_2 {

    max-width: 660px;
    background-color: white;
    margin: 4rem auto;
    z-index: 11;
    width: 100%;
    height: 30rem;
    border-radius: 10px;
}

.show_filters_2>h1 {
    float: left;
    font-size: 1.6rem;
    font-weight: 700;
    width: 70%;
    margin: 1.8rem 0rem 1.5rem 1rem;
}

.show_filters_2 i {
    float: right;
    cursor: pointer;
    margin: 1.3rem 1.3rem 0rem 0rem;
}

.tabs {
    width: 100%;
    align-items: center;
    overflow: hidden;
    height: 67%;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgray;

}

.active {
    background-color: white;
    border-left: 0.7rem solid red;

}

.label.active:hover {
    background-color: white;
    border-left: 0.7rem solid red;
}

.option.sho {
    display: block;

}


.label>h1 {
    margin: 0px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.672);
}

.labels {

    width: 30%;
    float: left;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: rgba(0, 0, 0, 0.82);
    background-color: rgba(211, 211, 211, 0.526);
}

.label_output {
    width: 68%;
    padding: 1.7rem 0rem;
    float: left;
    color: rgba(0, 0, 0, 0.505);
    height: 100%;
}

.label {
    height: 25%;
    width: 100%;
    cursor: pointer;
    align-items: center;
    padding-top: 30px;
    overflow: hidden;
}

.label_output form {
    display: flex;
    flex-direction: column;
}

.label_output form .radios {
    margin: 1rem 0rem 0rem 1rem;
    align-items: center;

    display: flex;
}

.label_output form div input[type="radio"] {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    margin: 0px 10px;
    color: red;
    background-color: red;
}

.label_output form div input[type="radio"]:checked::after {
    width: 12px;
    height: 12px;
    border-radius: 15px;
    right: -3.2px;
    top: 3.4px;

    position: relative;
    background-color: red;
    content: '';
    display: inline-block;
    visibility: visible;
}

.label_output form .radios label:before {
    width: 1rem;
    height: 1rem;
    border-radius: 15px;
    margin-left: -1.9rem;
    margin-right: 2rem;
    cursor: pointer;
    top: 1.7px;
    position: relative;
    background-color: transparent;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid red;
}



.label_output #rad {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.label_output #rad .checks {
    flex: 0 0 40%;
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    align-items: center;
    align-self: center;
}

.label_output #rad .checks label {
    margin-left: 1rem;
}

.slider {
    width: 90%;
    height: 13px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
    margin-top: 7rem;
    margin-left: 1.3rem;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;

    border-radius: 50%;
    background: red;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: red;
    cursor: pointer;
}

.bottom_buttons {
    display: flex;
    justify-content: flex-end;
}

.bottom_buttons button {

    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 20px;

}

.label:hover {
    background-color: rgba(211, 211, 211, 0.45);
}



.fiter_buttons:hover {
    background-color: rgba(211, 211, 211, 0.332);
}


/* -------------------- Product-info------------ */
.Product-info {
    display: flex;
    flex-direction: row;
    color: black;
    padding-top: 44px;
}
.night .Product-info{
    color: white;
}

.product-left-container {
    display: flex;
    flex: 0 0 30%;
    padding: 20px 10px;
    flex-direction: column;
    height: 80vh;
    position: sticky;
    top: 44px;
}

.product-image {
    display: flex;
    align-items: center;
    height: 50vh;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.115);
    border-radius: 3px;
    width: 100%;
}
.night .product-image{
    border: 1px solid  rgba(211, 211, 211, 0.477);
}

.product-image img {
    height: 40vh;
}

.buy-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buy-now {
    display: flex;
    align-items: center;
    background-color: #ff9f00;
    padding: 10px 30px;
    color: #f5f5f7;
    flex: 1 0 20%;
    justify-content: center;
    margin: 10px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 2px;
    transition: 0.4s all;


}

.add-to-cart {
    display: flex;
    align-items: center;
    background: #fb641b;
    padding: 15px 30px;
    color: #f5f5f7;
    flex: 1 0 20%;
    font-size: 18px;
    border-radius: 2px;
    font-weight: 500;
    margin: 10px;
    justify-content: center;
    transition: 0.4s all;
}
.add-to-cart:hover ,.buy-now:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.419);
}
.product-right-container{
    display: flex;
    flex: 1 0 30%;
    margin: 10px;
    flex-direction: column; 
}
.product-title{
    font-size: 26px;
    padding: 0px 10px 10px 10px;
    font-weight: 400;
}
.specs-header
{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
}
.specs-container2{
    display: flex;
    flex-direction: row;
   
    
}
.specs-name{
    display: flex;
    flex: 0 0 25%;
    font-size: 15px;
    padding: 10px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.388);
}
.night .specs-name{
    color: rgba(211, 211, 211, 0.549);
}
.night .Product-price del{
    color: rgba(211, 211, 211, 0.549);
}
.specs-value{
    display: flex;
    flex: 1 0 25%;
    font-size: 15px;
    padding: 10px;
    font-weight: 400;
}
.product-specs{
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.117);
    padding: 15px;
}
.night  .product-specs{
    border:1px solid  rgba(211, 211, 211, 0.477);
}
.title-for-specs{
    display: flex;
    font-size: 21px;
    font-weight: 500;
    padding: 20px 25px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.184);
}
.night .title-for-specs{
    border: 1px solid  rgba(211, 211, 211, 0.477);
}
.product-reviews{
    display: flex;
}
.rating-tab{
    background-color: green;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
}
.product-rating{
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
}
.random-ratings{
    color: rgba(0, 0, 0, 0.429);
    font-size: 15px;
    margin-left: 3px;
}
.Product-price{
    font-size: 24px;
    padding: 10px;
    font-weight: 500;
    margin-bottom: 15px;
}
.discount{
    color: green;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 10px 0px 10px;
}
.Product-price del{
    color: rgba(0, 0, 0, 0.375);
    font-size: 15px;
    margin-left: 10px;
}
.basket-container{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
    justify-content: center;
    padding-top: 44px;

}
.Basket-items-container{
display:  flex;
justify-content: space-between;
flex-direction: row;
border-bottom: 1px solid lightgrey;
padding: 10px;
}
.Basket-items-container:nth-child(1)
{
    font-weight: 600;
    font-size: 16px;
}
.Basketcont{
    display: flex;
    justify-content: center;
}
.item-count{
    display: flex;
    align-items: center;
}
.item-count  span{
    background-color: lightgray;
    padding: 1px 4px;
    font-size: 12px;

}
.item-count i {
    background-color: rgb(74, 176, 74);
    padding: 4px;
    font-size: 10px;
    border-radius: 2px;
}
.night .item-count span:nth-child(1) {
    color: white;
    background-color: transparent;
    font-size: inherit;
}
.night .item-count{
    color: black;
}
.item-count i:hover{
    cursor: pointer;
}
.Totalinfo{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: space-between;
    
}
.night .Totalinfo span{
    color: white;
}
.totalprice-cont{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.Totalinfo span{
    display: flex;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.594);
}
.Totalinfo span:nth-child(3)
{
    border-bottom: 1px solid black;
}
.night .Totalinfo span:nth-child(3){
    border-bottom: 1px solid lightgray;
}
.basket-container form{
    display: flex;
    flex-direction: column;
}
.basket-container form input{
    display: flex;
    padding: 5px;
    margin: 5px 0px;
    font-size: 15px;
}
.delivery-address{
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
}
.delivery-address form button {
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    background-color: #2997ff;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    color: #f5f5f7;
}
.delivery-address form button:hover{
    cursor: pointer;
}